@font-face {
  font-family: 'Big John';
  src: url('fonts/big_john-webfont.woff2') format('woff2'),
       url('fonts/big_john-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Slim Joe';
  src: url('fonts/slim_joe-webfont.woff2') format('woff2'),
       url('fonts/slim_joe-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,300i,400,400i,500,500i,600,600i);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);